# `pandas`

The problems in this notebook accompany the <a href="../lectures/Basic Pandas.ipynb">Basic Pandas</a> notebook.

## Basic Problems

1. Import `pandas`, what version do you have installed?

In [2]:
## Code here

import pandas as pd
print(pd.__version__)

2.2.2

2. Make a `DataFrame` out of the lists below. Make the first column the list `words` and call it "word", make the second column the list `counts` and call it "times_used".

In [4]:
words = ["apple","cat","pandas","numpy","code","erdos"]
counts = [3,14,2,0,100,19]

In [5]:
## Code here

df = pd.DataFrame({"word":words,"times_used":counts})

df

     word  times_used
0   apple           3
1     cat          14
2  pandas           2
3   numpy           0
4    code         100
5   erdos          19

3. Which word was used the most? Do not just look with your eyes, use `pandas` to figure it out.

In [7]:
## Code here

print(df.max(numeric_only=True))

df.loc[df.times_used == df.times_used.max()]

times_used    100
dtype: int64

   word  times_used
4  code         100

4. Use `pandas` to read in the data from the random walk you created in Practice Problems Notebook 4. Look at the head and tail of your walk. What was the median position of your walk? `describe` the walk. Print the `values` and `index` of this `DataFrame`.

In [9]:
## Code here

rwalk = pd.read_csv("../data/random_walk.csv")

print(rwalk.head(1))
print()
print(rwalk.tail(1))

   position
0         0

     position
100       -14

Median

In [10]:
## Code here

rwalk.median()

position   -8.0
dtype: float64

Describe the walk

In [11]:
## Code here

rwalk.describe()

         position
count  101.000000
mean    -8.693069
std      4.747089
min    -17.000000
25%    -13.000000
50%     -8.000000
75%     -5.000000
max      0.000000

Values and index

In [12]:
## Code here


print(rwalk.index)
print()
print(rwalk.values)

RangeIndex(start=0, stop=101, step=1)

[[  0]
 [ -1]
 [  0]
 [ -1]
 [ -2]
 [ -1]
 [  0]
 [ -1]
 [ -2]
 [ -1]
 [ -2]
 [ -3]
 [ -4]
 [ -5]
 [ -6]
 [ -5]
 [ -6]
 [ -7]
 [ -8]
 [ -7]
 [ -6]
 [ -7]
 [ -8]
 [ -7]
 [ -8]
 [ -7]
 [ -6]
 [ -5]
 [ -4]
 [ -3]
 [ -4]
 [ -5]
 [ -6]
 [ -5]
 [ -4]
 [ -5]
 [ -4]
 [ -3]
 [ -4]
 [ -5]
 [ -6]
 [ -5]
 [ -4]
 [ -3]
 [ -4]
 [ -5]
 [ -4]
 [ -5]
 [ -6]
 [ -7]
 [ -8]
 [ -9]
 [-10]
 [-11]
 [-12]
 [-13]
 [-14]
 [-13]
 [-14]
 [-13]
 [-14]
 [-15]
 [-16]
 [-17]
 [-16]
 [-15]
 [-14]
 [-13]
 [-12]
 [-13]
 [-14]
 [-13]
 [-14]
 [-13]
 [-12]
 [-13]
 [-14]
 [-13]
 [-12]
 [-11]
 [-12]
 [-11]
 [-12]
 [-13]
 [-12]
 [-13]
 [-12]
 [-13]
 [-14]
 [-13]
 [-12]
 [-11]
 [-12]
 [-13]
 [-14]
 [-13]
 [-14]
 [-15]
 [-14]
 [-13]
 [-14]]

5. Look at the file `a_table.tsv` in the `data` folder. This is a tab delimited file, you can use `pd.read_table` to read it in. First try to read in `a_table.tsv` using `pd.read_csv`, what happens? Then try using `pd.read_table`.

In [13]:
## Code here


df = pd.read_csv("../data/a_table.tsv")
df

   a\tb
0  1\ta
1  2\tb
2  3\tc

In [14]:
## Code here

df = pd.read_table("../data/a_table.tsv")
df

   a  b
0  1  a
1  2  b
2  3  c

Can interpret the reading

## More Advanced Problems

1. Read in the `iris.csv` file from the `data` folder.

In [ ]:
## Code here

2. Use `.loc` to overwrite the values in the `target` columns. A value of `0` should be changed to `"setosa"`, a value of `1` should be `"versicolor"` and a value of `2` should be `"virginica"`.

In [ ]:
## Code here

3. How many of each `target` are there?

In [ ]:
## Code here

4. Search the `pandas` documentation to find out how you should change the column named `target` so it is instead named `iris_type`.

In [ ]:
## Code here

5. Use `groupby()` to find the average `sepal_length` for each type of `iris`.

In [ ]:
## Code here

6. Use `groupby()` to describe each `iris` type.

In [ ]:
## Code here

7. From `pandas.plotting` import `scatter_matrix`. Then call `scatter_matrix()` using your `iris` dataframe as the input. What does this do?

In [ ]:
## Code here

In [ ]:
## Code here

--------------------------

This notebook was written for the Erd&#337;s Institute C&#337;de Data Science Boot Camp by Matthew Osborne, Ph. D., 2023.

Any potential redistributors must seek and receive permission from Matthew Tyler Osborne, Ph.D. prior to redistribution. Redistribution of the material contained in this repository is conditional on acknowledgement of Matthew Tyler Osborne, Ph.D.'s original authorship and sponsorship of the Erd≈ës Institute as subject to the license (see License.md)